@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

:root {
  --background_color: #fcfaeb;
  --accent_color: #17d631;
  --accent_color_dark: #0e811d;
  --accent_color_light: #49ec5f;
  --text_color: #4a555c;
  --text_color_dark: #2b2b2b;
  --text_color_light: #fefefe;
}

* {
  margin: 0;
  padding: 0rem;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Nunito, Asap, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--background_color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1.75rem;
  background-color: var(--accent_color);
}

header > a {
  text-decoration: none;
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.75);
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Asap;
  color: var(--text_color_light);
  transition: 0.25s;
}

header > a:hover {
  font-size: 1.35rem;
  filter: brightness(10%);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 3rem;
  background-image: linear-gradient(
    0deg,
    var(--background_color) 0%,
    var(--accent_color) 100%
  );
  margin-bottom: 5rem;
}

.banner img {
  width: 20%;
}

.banner h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.85);
  color: var(--text_color_light);
}

.section_plataforma {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5rem;
  width: 100%;
}

.section_plataforma > img {
  width: 17%;
}

.labeled-text {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.labeled-text h2 {
  font-family: Asap;
  font-size: 2.75rem;
  color: var(--accent_color);
  margin-bottom: 1.25rem;
}

.labeled-text p {
  font-size: 1.5rem;
  color: var(--text_color_dark);
  text-align: justify;
}

.labeled-text p:not(:first-of-type) {
  margin-top: 0.75rem;
}

strong {
  color: var(--accent_color);
}

.section_empresa,
.section_equipe,
.section_contato,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}

form {
  padding: 0;
  align-items: flex-start;
  width: 75%;
}

.section_empresa h2,
.section_equipe h2,
.section_contato h2 {
  font-family: Nunito;
  font-size: 3rem;
  color: var(--accent_color);
  margin-top: 2rem;
}

.section_equipe p,
.section_contato p {
  font-family: Nunito;
  font-style: italic;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: var(--text_color_dark);
}

.member-row {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}

.member img {
  max-width: 175px;
  margin-bottom: 0.75rem;
  border-radius: 100%;
  box-shadow: 0.25vh 0.25vh 0.75vh 0.1vh rgba(0, 0, 0, 0.5);
}

.member p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-inline-size: 200px;
  color: var(--text_color_dark);
}

.section_empresa h3 {
  font-family: Nunito;
  font-size: 2rem;
  color: var(--accent_color_dark);
  margin-top: 2rem;
}

.section_empresa p,
.section_empresa li {
  font-family: Nunito;
  font-size: 1.4rem;
  color: var(--text_color_dark);
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  margin-left: 2rem;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  margin-bottom: 0.25rem;
  color: var(--accent_color);
}

input,
textarea {
  font-size: 1rem;
  font-family: Nunito;
  text-align: start;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--text_color_dark);
  border: solid 0.1rem var(--accent_color);
  border-radius: 0.5rem;
  width: 100%;
  resize: none;
}

button {
  font-size: 2rem;
  font-weight: bold;
  font-family: Nunito;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  color: var(--background_color);
  background-color: var(--accent_color);
  border: solid 0.1rem var(--accent_color);
  border-radius: 0.85rem;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  filter: brightness(75%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  font-size: 0.75rem;
}

footer > a {
  text-decoration: none;
  color: var(--text_color_dark);
}

@media only screen and (orientation: portrait) {
  header {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 4rem;
    margin-bottom: 0;
  }

  .banner img {
    width: 80%;
    margin-bottom: 1.5rem;
    display: none;
  }

  .banner h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .section_plataforma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
  }

  .section_plataforma > img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .labeled-text {
    width: 100%;
  }

  .labeled-text h2 {
    margin-bottom: 1.1rem;
  }

  .labeled-text p {
    text-align: start;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }

  .member-row {
    flex-direction: column;
    padding: 0rem;
  }

  .member-row {
    margin-bottom: 0;
  }

  .member {
    width: 100%;
    margin-bottom: 1rem;
  }

  .member:last-of-type {
    margin-bottom: 0;
  }

  .member img {
    max-width: 150px;
  }

  form {
    width: 100%;
  }

  label {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
  }
}
