@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

:root {
  --background_color: #fcfaeb;
  --accent_color: #17d631;
  --accent_color_dark: #0e811d;
  --accent_color_light: #49ec5f;
  --text_color: #4a555c;
  --text_color_dark: #2b2b2b;
  --text_color_light: #fefefe;
}

* {
  margin: 0;
  padding: 0rem;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Nunito, Asap, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--background_color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1.75rem;
  background-color: var(--accent_color);
}

header > a {
  text-decoration: none;
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.75);
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Asap;
  color: var(--text_color_light);
  transition: 0.25s;
}

header > a:hover {
  font-size: 1.35rem;
  filter: brightness(10%);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 3rem;
  background-image: linear-gradient(0deg, #fcfaeb 0%, var(--accent_color) 100%);
  margin-bottom: 5rem;
}

.banner img {
  width: 20%;
}

.banner h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.85);
  color: var(--text_color_light);
}

.section_plataforma {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5rem;
  width: 100%;
}

.section_plataforma > img {
  width: 20%;
}

.labeled-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.labeled-text h2 {
  font-family: Asap;
  font-size: 2.75rem;
  color: var(--accent_color);
  margin-bottom: 1.25rem;
}

.labeled-text p {
  font-size: 1.5rem;
  color: var(--text_color_dark);
  text-align: justify;
}

.labeled-text p:not(:first-of-type) {
  margin-top: 0.75rem;
}

.labeled-text p > strong {
  color: var(--accent_color);
}

.section_equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}

.section_equipe h2,
.modulo h2,
.artigos h2,
.aulas h2 {
  font-family: Nunito;
  font-size: 3rem;
  color: var(--accent_color);
  margin-top: 2rem;
}

.section_equipe p,
.modulo p,
.artigos p,
.aulas p {
  font-family: Nunito;
  font-style: italic;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  color: var(--text_color_dark);
}

.member-row {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}

.member img {
  max-width: 200px;
  margin-bottom: 0.75rem;
  border-radius: 100%;
  box-shadow: 0.25vh 0.25vh 0.75vh 0.1vh rgba(0, 0, 0, 0.5);
}

.member p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-inline-size: 200px;
  color: #2b2b2b;
}

.modulo,
.artigos,
.aulas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
}

.modulo p,
.artigos p,
.aulas p {
  font-size: 1.2rem;
  color: #2b2b2b;
  margin-bottom: 2.5rem;
}

.artigos ul,
.aulas ul {
  list-style: none;
  width: 100%;
}

.artigos a,
.aulas a {
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.2vh 0.2vh 0.2vh 0vh rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  font-size: 1.15rem;
  color: var(--accent_color);
  transition: 0.5s;
}

.artigos a:not(:last-child),
.aulas a:not(:last-child) {
  margin-bottom: 1rem;
}

.artigos a:hover,
.aulas a:hover {
  filter: brightness(75%);
}

.links {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.links ul {
  list-style: none;
  background-color: #ffffff;
  padding: 1rem;
  width: 23%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0.2vh 0.2vh 0.5vh 0vh rgba(0, 0, 0, 0.25);
}

.links li {
  text-align: center;
}

.links li:not(:last-child) {
  margin-bottom: 1.1rem;
}

.links a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--accent_color);
}

.system-type {
  font-size: 1.6rem;
  font-family: Nunito;
  font-weight: bold;
  text-align: center;
  color: var(--accent_color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  font-size: 0.75rem;
}

footer > a {
  text-decoration: none;
  color: #2b2b2b;
}

@media only screen and (orientation: portrait) {
  header {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner img {
    max-width: 90%;
    margin: 0;
    margin-top: 2rem;
  }

  .text h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .objetivo {
    flex-direction: column;
    align-items: center;
  }

  .labeled-text {
    width: 100%;
  }

  .labeled-text:last-child {
    margin-top: 2rem;
  }

  .labeled-text h2 {
    margin-bottom: 0.5rem;
  }

  .member-row {
    flex-direction: column;
    padding: 0rem;
  }

  .member-row:not(:last-of-type) {
    margin-bottom: 0;
  }

  .member {
    width: 100%;
    margin-bottom: 1rem;
  }

  .links {
    flex-direction: column;
  }

  .links ul {
    width: 100%;
  }

  .links ul:not(:last-child) {
    margin-bottom: 2.2rem;
  }

  .bibliografia h2,
  .modulo h2,
  .artigos h2,
  .aulas h2 {
    text-align: center;
  }

  .bibliografia p,
  .modulo p,
  .artigos p,
  .aulas p {
    text-align: center;
  }
}
